:root {
    --primary-color: rgb(54, 64, 94);
}
a, button, input, select {
    all: initial;
}
* {
    font-family: 'Montserrat', sans-serif;
}

.title {
    text-align: center;
    background-color: var(--primary-color);
    color:white;
    font-weight: 100;
    padding-block: 0.2rem;
}
body {
    background-color: rgb(243, 241, 241);
}

main {
    max-width: 400px;
    min-height: 500px;
    padding: 1rem;
    margin: auto;
    background-color: white;
    box-shadow: 0px 2px 5px var(--primary-color)
    ;
}
.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    height: 50vh;
}
.button {
    font-family: 'Montserrat', sans-serif;
    color:var(--primary-color);
    text-align: center;
    padding: 1rem;
    border: 1px var(--primary-color) solid;
    min-width: 100px;
}
.button--small {
    font-family: 'Montserrat', sans-serif;
    color:var(--primary-color);
    text-align: center;
    padding: 7px 14px;
    border-radius: 10px;
    border: 1px var(--primary-color) solid;
}
.button--round {
    font-family: 'Montserrat', sans-serif;
    color:var(--primary-color);
    text-align: center;
    padding: 0.5rem;
    border: 1px var(--primary-color) solid;
    border-radius: 0.2rem;
}
.bold {
    font-weight: 700;
}
.button:hover {
    font-weight: 700;
    box-shadow: 0px 2px 5px var(--primary-color);
    cursor: pointer;
}
.prodItem {
    margin-top: 1rem;
    display: flex;
    align-items: baseline;
}
.completed span {
    text-decoration: line-through;
}
.completed {
    background-color: rgb(243, 241, 241);
}
.inputContainer {
    display: flex;
    flex-wrap: nowrap;
}
.formInput {
    display:flex;
    flex-direction: column;
}
.long{
    width: 70%;
}
.short {
    margin-left: 10px;
    width: 15%;
}
.formInput input, .formInput select {
    margin-block: 0.5rem;
    border-bottom: 1px solid var(--primary-color);
}
.product {
    flex: 4;
}
.quantity {
    flex: 1;
}